
<% if current_user != page_user %>
<h1><%= possessivize(page_user.display_name) %> Friends</h1>
<% end %>

<ul id='friend-menu' class='o-inline-list'>
  <li><input type='text' size=40 placeholder="Start typing a friend's name..."/> Add</li>
  <li><%= link_to 'Export', :controller => 'friends', :action => 'export' %></li>
</ul>

<div id='friend-list' class='c-item-list'>
  <%= render :partial => 'friend', :collection => @friends %>
</div>
