<div id='about'>
  <h2>Welcome to the Internet Gift Registry</h2>
  <p>
    This site was created in order to make it easier
    for friends and families to keep track of who they are buying
    gifts for and what they want.  The gifts can be for any occasion:
    birthdays, Christmas, weddings, baby showers, or just because.
  </p>
  <h2>Information Policy</h2>
  <h3>User Information</h3>
  <p>
    You will be asked to enter a distinct nickname to be used by
    you and anyone who will be giving you gifts.
  </p>
  <p>
    If you choose to provide your email addresses it will NOT be shared
    with third-parties.  It will only be used to notify you of an upcoming
    reminder or occasion.
  </p>
</div>
