<div id='about'>
  <h2>Welcome to the Internet Gift Registry</h2>
  <p>
    This site was created in order to make it easier
    for friends and families to keep track of who they are buying
    gifts for and what they want.  The gifts can be for any occasion:
    birthdays, Christmas, weddings, baby showers, or just because.
  </p>
  <h2>Information Policy</h2>
  <h3>User Information</h3>
  <p>
    You will be asked to enter a distinct nickname to be used by
    you and anyone who will be giving you gifts.
  </p>
  <p>
    E-mail addresses will NOT be shared with third-parties.
    They will be used to contact you -- AT YOUR REQUEST -- if you
    wish to be notified of an upcoming occasion of a member of your group.
    You can also be notified by e-mail if you forget your password
    and request it to be sent to you.
  </p>
</div>
