<table width='100%'>
  <tr>
    <td align='right'><%= will_paginate @users %></td>
  </tr>
</table>

<table border='1' width='100%'>
  <tr>
    <th align='center'>Login</th>
<% if page_user.admin? -%>
    <th align='center'>Last on</th>
    <th align='center'>Role</th>
<% end -%>
    <th align='center'>Actions</th>
  </tr>
  <%= render :partial => 'user', :collection => @users %>
</table>
