<div id='user-list' class='o-flex-container'>
  <%= render :partial => 'user', :collection => @users %>
</div>

<%- content_for :footer do -%>
  <%= javascript_include_tag '/assets/v2/users.js' %>
<%- end -%>
