<h1>Users</h1>

<div id='user__list' class='o-flex-container'>
  <%= render :partial => 'user', :collection => @users %>
</div>

<div id='infinite-scroll'>
  <%= will_paginate %>
</div>

<%- content_for :footer do -%>
  <%= javascript_include_tag '/assets/v2/users.js' %>
<%- end -%>
