<table width='100%'>
  <tr>
    <td>
      <a href='mailto:registry@stdmn.com?subject=Suggestion'>Suggestion</a>
    </td>
    <td>
      <a href='mailto:registry@stdmn.com?subject=Contact'>Contact Me</a>
    </td>
    <td align='right'>
      <span>&copy; 1998 - <%= Time.now.year %>, Steadman Enterprises, Inc.</span>
      <button id="pwa-install-button" aria-label="Install App">Install App</button>
    </td>
  </tr>
</table>
<!-- Rails Version: <%= Rails.version %> -->
