<table width='100%'>
  <tr>
    <td>
      <a href='http://projects.stdmn.com/projects/se-registry'>Project</a>
    </td>
    <td>
      <a href='mailto:registry@stdmn.com?subject=Suggestion'>Suggestion</a>
    </td>
    <td>
      <a href='mailto:registry@stdmn.com?subject=Contact'>Contact Us</a>
    </td>
    <td align='right'>
      Copyright &copy; 1998 - <%=Time.now.year%>, Steadman Enterprises, Inc.
    </td>
  </tr>
</table>
