<h1>Edit Gift</h1>
<%= form_for @gift, :url=>user_gift_path(page_user, @gift) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :object => @gift %>
  <%= f.submit 'Update' %>
<% end %>
