/* 40-elements.css */

* {

  /* layout */
  margin: 0;
  padding: 0;

  /* appearance */
  background-color: transparent;
  box-sizing: border-box;
}

a {
  /* appearance */
  color: var(--site-neutral-black);
}

/*
a:visited {
}

a:hover {
}
*/

body {
  /* appearance */
  background-color: var(--site-background-color);
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding-bottom: 7em;
}

fieldset {
  width: 100%;
}

h1 {
  /* layout */
  padding-bottom: 0.1em;
}

input {
  /* appearance */
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
}

legend {
  /* layout */
  margin: 0 0.5em;
  padding: 0 0.2em;

  /* appearance */
  font-weight: bold;
  font-size: 1.5em;
  white-space: nowrap;
}

pre {
  /* layout */
  padding: 1em;

  /* appearance */
  white-space: pre-wrap;
}

section {
  margin-top: 0.5em;
}

section h2 {
  margin-bottom: 0.5em;
}
