/* 50-flex.css */

.o-flex-container {
  /* layout */
  display: flex;
  flex-direction: column;
}

.o-flex-container > .o-flex-container {
  min-width: 100%;
}

.o-flex-inline {
  /* layout */
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

.o-flex-inline > * {
  margin-left: 0.5em;
}

.o-flex-item {
  /* layout */
  margin: 0.5em 0.1em;
  padding: 0.5em;
}

.o-flex-item--centered {
  /* layout */
  align-items: center;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

.o-flex-list {
  /* layout */
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}

.o-flex-2-col {
  flex-wrap: wrap;
}

.o-flex-2-col > * {
  margin-top: 0.5em;
  width: 32%;
}

