/* 50-objects.css */

.o-button {
  /* layout */
  display: inline-block; /* force button heights to be the same*/
  height: 2em;
  padding: 0.1em 0.2em;

  /* appearance */
  background-color: var(--button-background-color);
  border: 2px solid var(--button-border-color);
  border-radius: 0.5em;
  text-decoration: none;
}

