/* 60-gift_40em.css */

@media (min-width: 40em) {

.c-gift {
  /* layout */
  width: 33%;

}

#gift-list {
  /* layout */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

} /* @media (min-width: 40em) */
