/* 60-gift.css */

#gift-actions ul {
  /* layout */
  display: inline;
}

#gift-list {
  padding-bottom: 2em;
}

.c-gift {
  /* layout */
  margin: 0.5em 0.1em;
  padding: 0.5em;

  /* appearance */
  background-color: var(--gift-background-color);
  border: 2px solid var(--gift-border-color);
  border-radius: 1em;
}

.c-gift__description {
  /* layout */
  margin-bottom: 1em;

  /* appearance */
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

