/* 60-item.css */

.c-item {
  /* appearance */
  background-color: var(--item-background-color);
  border: 2px solid var(--item-border-color);
  border-radius: 1em;
}

.c-item__actions {

  /* appearance */
  border-top: 1px solid var(--site-neutral-black);
  list-style-type: none;
}

.c-item__description {
  /* layout */
  margin-bottom: 1em;

  /* appearance */
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

