/* 70-utilities.css */

.u-clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.u-destructive {
  background-color: var(--destructive-background-color);
}

.u-full-width {
  width: 100%;
}
