<li>
foo
  <%= link_to friend.login, user_gifts_path(friend) %>
  <span style='font-size:80%'>
<%- if friend.last_gift_updated_at -%>
  Updated at: <%= friend.last_gift_updated_at.localtime.to_s(:db) %>
<%- end -%>
  (<%= delete_link_to 'remove', user_friend_path(page_user, friend) %>)
  </span>
</li>
