<% if current_user != page_user %>
<h1><%= possessivize(page_user.display_name) %> Friends</h1>
<% end %>
<%= @errors %>
<%= render :partial=>'layouts/pagination', :object=>@friends %>
<table border='1' width='100%'>
  <tr>
    <th>Friend</th>
    <th>Actions</th>
  </tr>
  <%= render :partial=>'friend', :collection=>@friends %>
</table>
