<% if current_user != page_user %>
<h1><%= possessivize(page_user.display_name) %> Friends</h1>
<% end %>

<table width='100%'>
  <tr>
    <td><%= link_to 'Export', :controller => 'friends', :action => 'export' %></td>
    <td align='right'><%= will_paginate @gifts %></td>
  </tr>
</table>

<ul>
  <%= render :partial => 'friend', :collection => @friends %>
</ul>
