<% if current_user != page_user %>
<h1><%= possessivize(page_user.display_name) %> Friends</h1>
<% end %>
<%= link_to 'Export', :controller => 'friends', :action => 'export' %>
<%= render :partial => 'layouts/pagination', :object => @friends %>
<ul>
  <%= render :partial => 'friend', :collection => @friends %>
</ul>
